
WIM Witch Tabbed/.vs/WIM Witch Tabbed/v16/.suo
WIM Witch Tabbed/.vs/WIM Witch Tabbed/v16/Server/sqlite3/storage.ide-shm
WIM Witch Tabbed/.vs/WIM Witch Tabbed/v16/Server/sqlite3/storage.ide-wal
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/DriverTab.g.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/DriverTab.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/JSONTab.g.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/JSONTab.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MainWindow.baml
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MainWindow.g.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MainWindow.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MakeItSo.g.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MakeItSo.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/SourceTab.g.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/SourceTab.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed.csprojAssemblyReference.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed_MarkupCompile.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed_MarkupCompile.lref
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/Window1.g.cs
WIM Witch Tabbed/.vs/WIM Witch Tabbed/v16/.suo
WIM Witch Tabbed/WIM Witch Tabbed/Form1.cs
WIM Witch Tabbed/WIM Witch Tabbed/Form1.Designer.cs
WIM Witch Tabbed/WIM Witch Tabbed/Logging.xaml.cs
WIM Witch Tabbed/WIM Witch Tabbed/MainWindow.xaml.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/DriverTab.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/JSONTab.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/Logging.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MainWindow.baml
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MainWindow.g.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MainWindow.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/MakeItSo.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/Properties/MakeItSo.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/SourceTab.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed.csproj.CoreCompileInputs.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed.csprojAssemblyReference.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed_MarkupCompile.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed_MarkupCompile.i.cache
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed_MarkupCompile.i.lref
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch Tabbed_MarkupCompile.lref
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/WIM Witch.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/obj/Debug/Window2.g.i.cs
WIM Witch Tabbed/WIM Witch Tabbed/Properties/MakeItSo.xaml.cs
WIM Witch Tabbed/WIM Witch Tabbed/WIM Witch Tabbed.csproj
WIM Witch Tabbed/WIM Witch Tabbed/WIM Witch.xaml.cs
WIM Witch Tabbed/WIM Witch Tabbed/Window2.xaml.cs
